<div class="modal-header">
  <h4 class="modal-title">Comparing...</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="col-md-3" *ngFor="let car of comparationItems">
      <div class="card box-shadow">
          <img class="card-img-right card-img-top img-thumbnail" routerLink="/detail/{{car.id}}" 
              data-src="{{car.thumbnail}}" alt="Card image cap">
      
            <div class="card-body">
              <div routerLink="/detail/{{car.id}}" class="card-text">
                  <h4>{{car.brand}}, {{car.model}}</h4>
                  <strong>Year:</strong> {{car.year}}<br/>
                  <strong>Information:</strong> {{car.information | slice:0:200 }}
              </div>
              <br/>
              <div class="justify-content-between">
                  <small class="text-muted pull-right">{{car.price}}</small>
              </div>
            </div>
      </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>