<h1>{{item.brand}}, {{item.model}}</h1>
<div class="row">
  <div class="card">
    <img class="card-img-top" data-src="{{item.picture}}" alt="Card image cap">
    <div class="card-body">
        <div class="card-text">
            <strong>Year:</strong> {{item.year}}<br/>
            <strong>Information:</strong> {{item.information}}<br/>
            <strong>Price:</strong> {{item.price}}
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" routerLink="/" class="btn btn-sm btn-warning">Go Back</button>
            </div>
        </div>
    </div>
  </div>
</div>